
@{
    ViewBag.Title = "PartHistory";
}

<h2>PartHistory</h2>
@section styles{
    <link href="~/Content/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
}
<div class="row mt-4">
    <div class="col-lg-12">
        <div>
            <div class="horizontal-timeline my-3">
                <div class="swiper timelineSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-0">December, 2020</p>
                                        <h6 class="fs-15 mb-0">Plateform Development</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">10 : 35 PM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">January, 2021</p>
                                        <h6 class="fs-15 mb-0">Release Bank & Cards Phase</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">8 : 10 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">March, 2021</p>
                                        <h6 class="fs-15 mb-0">Beta Launch of Plateform</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">01 : 47 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">April, 2021</p>
                                        <h6 class="fs-15 mb-0">First Crypto Bank Transfers</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">07 : 53 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">May, 2021</p>
                                        <h6 class="fs-15 mb-0">Launch Ethbay Services</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">4 : 05 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">June, 2021</p>
                                        <h6 class="fs-15 mb-0">Fastest Crypto Transaction</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">02 : 40 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">July, 2021</p>
                                        <h6 class="fs-15 mb-0">Crypto Blockchain Release</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">9 : 27 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                        <div class="swiper-slide">
                            <div class="card pt-2 border-0 item-box text-center">
                                <div class="timeline-content p-3 rounded">
                                    <div>
                                        <p class="text-muted mb-1">August, 2021</p>
                                        <h6 class="fs-15 mb-0">Launch Ethereum Classifieds</h6>
                                    </div>
                                </div>
                                <div class="time"><span class="badge bg-success">06 : 19 AM</span></div>
                            </div>
                        </div><!--end swiper-slide-->
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div><!--end timeline-->
        </div>
    </div><!--end col-->
</div><!--end row-->

@section scripts{
    <script src="~/Content/assets/libs/swiper/swiper-bundle.min.js"></script>

    <script src="~/Content/assets/js/pages/timeline.init.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.js"></script>
}